@model int

<a class="text-dark position-relative cart-icon-wrapper" href="@Url.Action("Index", "Cart")" title="Giỏ hàng">
    <i class="fas fa-shopping-cart fa-lg"></i>

    @if (Model > 0)
    {
        <span class="cart-badge position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            @Model
        </span>
    }
</a>
